
.body {
  text-align: center;
}

.body .text {
  font: 16px;
}


.spacing {
  margin-top: 15px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.storeItemContainer {
  border: 1px dotted var(--control-color);
  padding: 10px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.rightAligned {
  float: right;
}

.leftAligned {
  float: left;
}

.inlineBlock {
  display: inline-block
}


.icon-size {
  width: 80px;
  height: 80px;
}

.red {
  color: #FF0000
}

.green {
  color: #00FF00
}
